.frame_footer {    
    img {
        width: 100%;
    }
}

.page-footer{
    background-color: $color_principal;
    color: $font_color_light;
    a {
        color: $font_color_light;
    }
   
}

.footer-copyright{
    background-color: $color_secundary;
}