.header{
    background-color: $color_principal;
}

.header{
    ul {
        li {
            a {
                color: $font_color_light;
            }
            p {
                color: $font_color_title;
            }
        }
    }
}