$color_principal: #1F729E;
$color_secundary: #4B4848;
$color_background: #FBFBFB;
$color_base: #fff;

$font_color_light: #fff;
$font_color_dark: blue;
$font_color_title: #1F729E;
$font_type: 'Courier New', Courier, monospace;
