*, html, body{
	margin: 0;
	padding: 0;
}

.main-container {
    margin: 0;    
    width: 100%;
}

.main-screen {
    background-color: $color_principal;
    height: 350px;
}

p {
    font-family:$font_type;
}


.frame {
    img {
        width: 100%;
    }
}