$color_principal: #24A6EC;
$color_secundary: #1f729e;


//$color_secundary:  #1d9fe5;
$color_background: #FBFBFB;
$color_dark: rgb(31, 37, 41);
$color_dark_light: rgb(43, 51, 56);
$color_base: #fff;

$font_color_light: #fff;
$font_color_dark: blue;
$font_color_title: #1d9fe5;
$font_color_caption: #424242;
$font_color_text: #555555;
$font_type: "Helvetica Neue",Helvetica,Arial,sans-serif;
