$color_principal: #24A6EC;


$color_secundary:  #1d9fe5;
$color_background: #FBFBFB;
$color_base: #fff;

$font_color_light: #fff;
$font_color_dark: blue;
$font_color_title: #1F729E;
$font_type: 'Courier New', Courier, monospace;
