*, html, body{
	margin: 0;
  padding: 0;
  font-size: 1rem;
}

p {
  font-family:$font_type;
}

h1 {
  color: $font_color_light;
  text-align: center;  
}

h2 {
    color: $font_color_title;
}

 
.nav {
  li {
    a:hover{
      background-color: $color_secundary;
    }
    a:visited{
      background-color: $color_secundary;
    }
  }
}

.main-container {
    margin: 0%; 
    padding: 0%;   
    width: 100%;
}

.main-screen {
    background-color: $color_principal;
    height: 350px;
}

.frame {
  padding: 0;
    img {
        width: 100%;
    }
}

.section_description{
    padding: 60px 0px 0px 0px;
}

.section_clients {
    padding: 60px 0px 0px 0px;
}


// Estilos para el carrusel Carrusel 
.multi-item-carousel {
  .carousel-inner {
    > .item {
      transition: 500ms ease-in-out left;
    }

    .active {
      &.left {
        left: -33%;
      }

      &.right {
        left: 33%;
      }
    }

    .next {
      left: 33%;
    }

    .prev {
      left: -33%;
    }
  }
  .carouse-control {    
    &.left, &.right {
      background-image: none;
    }
  }
}

.carousel-control{
  width: 0% !important;
  color: $color_secundary;
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out all;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-transform: none !important;
    transform: none !important;
  }
}

body {
  background: $color_base;
  color: black;
}

.section_client_title{
    text-align: center; 
    padding: 2% 0% 2% 0%;   
  h2{
    color: $font_color_title;
    margin: 0 auto;
  }
}

.section_client{
  padding: 2% 0% 10% 0%;  
}

.circulo {
  width: 100px;
  height: 100px;  
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: $color_principal;
}

.circuloDos{
  width: 200px;
  height: 200px;  
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #cbcbcb;
}

.informacion-circulo{
  padding: 0px 10% 0px 0% ;
}

.section-circles{
  padding: 10% 0% 10% 0% ;
}

.section_developer{
  padding: 20% 0% 20% 0% ;
  background: $color_background;
}

.section_benefits{
  background: $color_principal;
  width: 100%;
  height: auto;
}

.section_idear{
  background: $color_background;
  height: 900px;
}

.contendorCirculos{
  top: -35%;
}

.section_portafolio{
  height: 400px;
  padding-top: 8%;
}